/SkavronskiyIV/Entities/bin
/SkavronskiyIV/Entities/obj
/SkavronskiyIV/Repository/bin
/SkavronskiyIV/Repository/obj
/SkavronskiyIV/Services/bin
/SkavronskiyIV/Services/obj
/SkavronskiyIV/WebUI/bin
/SkavronskiyIV/WebUI/obj
/SkavronskiyIV/packages/WebGrease.1.5.2
/SkavronskiyIV/packages/Antlr.3.4.1.9004
/SkavronskiyIV/packages/Autofac.3.5.2
/SkavronskiyIV/packages/Autofac.Mvc5.3.3.4
/SkavronskiyIV/packages/Autofac.Mvc5.Owin.3.1.0
/SkavronskiyIV/packages/Autofac.Owin.3.1.0
/SkavronskiyIV/packages/bootstrap.3.0.0
/SkavronskiyIV/packages/EntityFramework.6.1.3
/SkavronskiyIV/packages/jQuery.1.10.2
/SkavronskiyIV/packages/jQuery.Validation.1.11.1
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.1.2.3
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.0
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.DependencyCollector.1.2.3
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.JavaScript.0.15.0-build58334
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.PerfCounterCollector.1.2.3
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.Web.1.2.3
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.WindowsServer.1.2.3
/SkavronskiyIV/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.1.2.3
/SkavronskiyIV/packages/Microsoft.AspNet.Identity.Core.2.2.1
/SkavronskiyIV/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/SkavronskiyIV/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/SkavronskiyIV/packages/Microsoft.AspNet.Mvc.5.2.3
/SkavronskiyIV/packages/Microsoft.AspNet.Razor.3.2.3
/SkavronskiyIV/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/SkavronskiyIV/packages/Microsoft.AspNet.WebPages.3.2.3
/SkavronskiyIV/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/SkavronskiyIV/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/SkavronskiyIV/packages/Microsoft.Net.Compilers.1.0.0
/SkavronskiyIV/packages/Microsoft.Owin.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Host.SystemWeb.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.Cookies.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.Facebook.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.Google.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.OAuth.3.0.1
/SkavronskiyIV/packages/Microsoft.Owin.Security.Twitter.3.0.1
/SkavronskiyIV/packages/Microsoft.Web.Infrastructure.1.0.0.0
/SkavronskiyIV/packages/Modernizr.2.6.2
/SkavronskiyIV/packages/Newtonsoft.Json.6.0.4
/SkavronskiyIV/packages/Owin.1.0
/SkavronskiyIV/packages/Respond.1.2.0
/SkavronskiyIV/WebUI/WebUI.csproj.user
/SkavronskiyIV/WebUI/Properties/PublishProfiles
/SkavronskiyIV/WebUI/Content/doc
