@{
    ViewBag.Title = "Resume generator";
}

<div class="jumbotron">
    <h2>Smart resume generator</h2>
    <p class="lead">
        Создайте резюме всего за несколько минут - просто выбирите нужную специализацию и заполните предоставленные поля,
        все остальное сделаем мы. Экспортируйте резюме в удобном формате, храните, редактируйте, отправляете его работадателю прямо с 
        сайта и многое другое.
    </p>
        <div class="form-group">

            <label for="selectSpecialization">Специализация </label>
            <select class="form-control" name="selectSpecialization">
                <option value="0">не выбрано</option>
                <option value="0">IT</option>
                <option value="0">спорт</option>
                <option value="0">менеджмент</option>
            </select>
        </div>
        <p><a href="/Resume" class="btn btn-primary btn-lg">Create resume</a></p>
    
</div>

