
@{
    ViewBag.Title = "Certificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="h2 text-center section">Сертификаты и тренинги</div>
</div>
<form class="form-horizontal" method="POST">
    <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Название*</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Город</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="city" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Дата окончания*</label>
                <div class="col-md-10">
                    <input id="datePicker-month" data-provide="datepicker" class="form-control" name="date" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <p id="addCertificate" aria-label="Добавить сертификат" class="text-info remove-certificate">
                    <span class="glyphicon glyphicon-plus"></span> Добавить сертификат
                </p>
            </div>
        </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a href="~/Resume/WorkExperience" class="btn btn-default">Назад</a>
                <a href="~/Resume/Skills" class="btn btn-default">Далее</a>
                <button class="btn btn-primary">Сохранить</button>
            </div>

        </div>
    </div>
</form>


@section Scripts{
    @Scripts.Render("~/bundles/datePicker")
    @Scripts.Render("~/Scripts/addingData.js")
}




